<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href={% url 'home' %}>ToDoApp</a>
        <div class="navbar-collapse collapse show" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href={% url 'index' %}>
                        ToDo
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
